---
title: Global Innovation Project
layout: default
---

<div class="home-about">

  <div class="container">

    <div class="row">
      <div class="col-md-12">

          {% for page in site.pages %}
            {% if page.title == 'Home' %}
              <div class="intro">
                {{ page.content | markdownify }}
              </div>
            {% endif %}
          {% endfor %}

        <div class="row">
          <div class="col-lg-5">
            {% include mailchimp-signup.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">

  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="post-types">
        <h4>Posts</h4>
      </div>
    </div>

    <div class="col-md-10">
      <div class="post-list">
        {% for post in site.posts %}
          {% if post.categories contains 'Report' %}
          {% else if %}
            <a href="{{ post.url }}" class="post-item">
              {% if post['Feature Image'] %}
                <div class="post-feature-image" style="background-image:url({{ post['Feature Image'] }})">
                </div>
              {% else %}
                <div class="no-feature-image">
                </div>
              {% endif %}
              <div class="row">
                <div class="col-md-5">
                  <h3>{{ post.title }}</h3>
                  <p class="post-date">{{ post.date | date: '%d %B, %Y' }}</p>
                </div>
                <div class="col-md-7">
                  <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords:75 }}</p>
                </div>
              </div>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>

  </div>
</div>
