---
title: Global Innovation Project
layout: default
---

<div class="container">

  <div class="row">

    <div class="col-md-12">
      {% for page in site.pages %}
        {% if page.title == 'Home' %}
          <div class="intro">
            {{ page.content | markdownify }}
          </div>
        {% endif %}
      {% endfor %}
    </div>

  </div>

  <div class="row">

    <div class="col-md-7">
      {% for page in site.pages %}
        {% if page.title == 'Project Overview' %}
          {{ page.content | markdownify }}
        {% endif %}
      {% endfor %}
    </div>

    <div class="col-md-4 offset-md-1">
      <div class="post-list">
        <h4>Posts</h4>
        {% for post in site.posts %}
          <div class="post-item">
            <a href="{{ post.url }}">
              <h3>{{ post.title }}</h3>
              <p class="post-date">{{ post.date | date: '%d %B, %Y' }}</p>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>

  </div>
</div>
