<div class="container">

  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsing-navbar" aria-controls="collapsing-navbar" aria-expanded="false" aria-label="Toggle navigation">&#9776;
  </button>

  <nav class="navbar navbar-dark">

    <a class="navbar-brand" href="/"><img class="logo" src="{{ "/images/gip-logo.png" | prepend: site.baseurl }}" width="296" height="264"></a>
    <div class="main-nav">

    <div class="collapse navbar-toggleable-md" id="collapsing-navbar">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/project-overview">About the Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resources">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-lg-right social-links">
        {% include social-links-list.html %}
      </ul>
    </div>

  </nav>

</div>
