html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Sailec', sans-serif;
  font-weight: 400;
  padding-bottom: 40px;
}

p, li {
  color: darken( $white, 10% );
}

strong {
  font-weight: 700;
}

img {
  width: 100%;
  height: auto;
}

.intro {
  padding-bottom: 40px;
  border-bottom: 1px solid darken( $white, 75% );
  margin-bottom: 60px;
  h1 {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    @include media-breakpoint-up(md) {
      font-size: 32px;
    }
  }
}

.post-list {

}

.post-item {
  padding-bottom: 20px;
  border-bottom: 1px solid darken( $white, 75% );
  margin: 30px 0;
  .post-date {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: $default-letter-spacing;
  }
}

.post {
  img {
    margin: 10px 0;
  }
}

.post-header {
  border-bottom: 1px solid darken( $white, 75% );
  margin-bottom: 20px;
}

.post-meta {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: $default-letter-spacing;
  color: $blue;
  span {
    color: $white;
  }
}

.navbar-brand {
  .logo {
    width: 200px;
    height: auto;
    margin: 40px 0;
  }
  @include media-breakpoint-down(md) {
    width: 100%;
    .logo {
      margin-top: 10px;
    }
  }
}

#collapsing-navbar {
  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-up(lg) {
    float: right;
    width: 660px;
    border-top: 1px solid $white;
    margin-top: 140px;
    font-size: 14px;
    .nav-link {
      padding-top: 16px;
      font-weight: 400;
    }
  }
  @include media-breakpoint-up(xl) {
    width: 860px;
  }
  @include media-breakpoint-down(md) {
    position: fixed;
    top: 20px;
    z-index: 100;
  }
  .navbar-nav {
    @include media-breakpoint-down(md) {
      background-color: #272E38;
      padding: 20px;
    }
  }
}

.navbar-toggler {
  color: $blue;
  position: fixed;
  top: 20px;
  right: 10px;
  z-index: 100;
}

.south-korea {
  width: 600px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: bold;
  span {
    display: block;
  }
}

//////////////////////////////////////////
///////////////// REPORTS ////////////////
//////////////////////////////////////////


.table-of-contents {
  li {
    a {
      font-size: 13px;
      font-weight: 500;
      b {
        color: $white;
      }
    }
    .section-head {
      font-size: 12px;
      font-weight: 700;
      color: #666666;
      text-transform: uppercase;
      letter-spacing: .075em;
    }
  }
}
