---
layout: default
---

<div class="container-fluid">

  <h1>{{ page.title }}</h1>
  {{ content }}

  <div class="row">
    <div id="photo-gallery-body">

      {% for photo in site.photos %}
        <div class="col-md-4 photo-gallery-item">
          <figure>
            <img src="{{ photo.Photo }}" alt="{{ photo.title }}">
            <figcaption>{{ photo.content }}</figcaption>
            <p class="photo-location">
              {% if photo.City and photo.Country %}
                {{ photo.City }}, {{ photo.Country }}
              {% elsif photo.City %}
                {{ photo.City }}
              {% elsif photo.Country %}
                {{ photo.Country }}
              {% endif %}
            </p>
          </figure>
        </div>
      {% endfor %}

    </div>
  </div>

</div>
