---
layout: default
---

<div class="container post">

  <div class="row">
    <div class="col-md-8 offset-md-2">

      <div class="south-korea"><span>S</span><span>o</span><span>u</span><span>t</span><span>h</span></div>
      <div class="south-korea"><span>K</span><span>o</span><span>r</span><span>e</span><span>a</span></div>

      <ul class="list-unstyled">
        {% for content in page.Contents %}
        {% if content[0] contains ".0" %}
        <li><a href="#{{ content[1] | downcase | replace: ' ', '-' }}" class="section-head">{{ content[1] }}</a></li>
        {% else %}
        <li><a href="#{{ content[1] | downcase | replace: ' ', '-' }}"><b>{{ content[0] }}</b> {{ content[1] }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>

      <article>
        {{ content }}
      </article>

    </div>
  </div>

</div>
