---
layout: default
---

<div class="container resources">

  <header class="row resources-header">
    <div class="col-md-10 offset-md-1">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
  </header>

  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="post-list">
        {% for post in site.posts %}
          {% if post.categories contains 'Link' %}
            <a href="{{ post['Link URL'] }}" class="post-item post-external-link" target="_blank">
              <div class="row">
                <div class="col-md-5">
                  <h6>Resource</h6>
                  <h3>{{ post.title }}</h3>
                  <p class="external-link-url">{{ post['Link URL'] }}</p>
                </div>
                <div class="col-md-7">
                  <p class="post-excerpt">{{ post.content | strip_html }}</p>
                </div>
              </div>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

</div>
